* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

.check-box {
    border-radius: 25px;
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 0 3px;
    font-size: 0.65em;
    font-weight: 900;
    margin-right: 10px;
}

.checked {
    color: #008000;
    border: 1px solid #008000;
}

.unchecked {
    color: #ff0000;
    border: 1px solid #f00;
}

.tag-base {
    display: inline-block;
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 10px;
    color: #ffffff;

}

.logo-container {
    margin: 20px 40px;
}

.logo-image {
    width: 65px;
    vertical-align: bottom;
}

.logo-name {
    display: inline-block;
}

.logo-name h1 {
    font-size: 50px;
    line-height: 65px;
}

.container {
    background-color: rgb(246, 248, 249);
    padding: 20px;
}

.container-page {
    width: 75%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
}

.container-buttons {
    padding: 10px;
    margin-left: 40px;
}

.buttons {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    color: #ccc;
}

.blue-buttons {
    color: #ffffff;
    background-color: #47adf1;
}

hr {
    border-top: #eee    ;
}

.todolist-box {
    margin: 20px;
    padding-left: 22px;
}

.todolist {
    list-style-type: none;
    margin: 5px;
    padding-bottom: 20px;
    font-size: 20px;
    
}

li {
    padding:10px 0;
}

.tag-blue {
    background-color: #47adf1;
}

.tag-violet {
    background-color: violet;
}

.tag-green {
    background-color:green;
}

.tag-orange {
    background-color: orangered;
}

.tag-pink {
    background-color: orchid;
}

.tag-yellow {
    background-color: yellowgreen;
}


