* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

.logo-container {
    margin: 20px 40px;
}

.logo-image {
 width: 65px;
 vertical-align: bottom;
}

.logo-name {
    display: inline-block;
}

.logo-name h1 {
    font-size: 50px;
    line-height: 65px;
}

.container {
    background-color: #eee;
    padding: 20px;
}

.container-page {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
}

.container-buttons {
    padding: 10px;
    margin-left: 40px;
}

.buttons {
    display: inline-block;
    border: 2px solid #ccc;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    color: #ccc;
}

.blue-buttons {
    color: #ffffff;
    background-color: #79c3ff;
}

hr {
    border-top: #eee    ;
}
